@font-face {
    font-family: "FuturaBook";
    src: url("../font/FuturaBookC.woff") format("woff"),
        url("../font/FuturaBookC.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "FuturaDemi";
    src: url("../font/FuturaDemiC.woff") format("woff"),
        url("../font/FuturaDemiC.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "FuturaMedium";
    src: url("../font/FuturaMediumC.woff") format("woff"),
        url("../font/FuturaMediumC.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "YesevaOne";
    src: url("../font/YesevaOne-Regular.woff") format("woff"),
        url("../font/YesevaOne-Regular.woff2") format("woff2");
    font-display: swap;
}