.logo {
    font-size: 1rem;
    color: $primary;
    font-family: "FuturaDemi";
}
.nav {
    display: flex;
    align-items: center;
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: "FuturaBook";
        color: $white;
        transition: 0.3s color;
        &:hover {
            color: $primary;
        }
        &:not(:last-child) {
            margin-right: 2.857rem;
        }
    }
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contacts {
    display: flex;
    align-items: center;
    &__phone {
        margin-right: 3.214rem;
    }
    &__button {
        padding: 0.928rem 1.428rem;
    }
}
.phone {
    font-size: 1rem;
    font-family: "FuturaDemi";
    color: $primary;
    text-decoration: none;
    &::after {
        content: "";
        display: block;
        background-color: $primary;
        width: 100%;
        height: 1px;
        transition: width 0.3s;
    }
    &:hover {
        &::after {
            width: 0;
        }
    }
}
.button {
    font-size: 0.928rem;
    color: $white;
    text-transform: uppercase;
    font-family: "FuturaDemi";
    border-radius: 2px;
    border: none;
    cursor: pointer;
    &_primary {
        background-color: $primary;
        box-shadow: 0px 5px 15px rgba($primary, 0.2);
        border: 1px solid $primary;
        transition: all 0.3s;
        &:hover {
            box-shadow: none;
        }
    }
    &_transparent {
        border: 1px solid $white;
        background-color: transparent;
        transition: all 0.3s;
        &:hover {
            background-color: $primary;
            box-shadow: 0px 5px 15px rgba($primary, 0.2);
            border-color: $primary;
        }
    }
}
.input-group {
    &__label {
        font-family: "FuturaBook";
        color: rgba($white, 0.5);
        font-size: 1.071rem;
    }
    &__input {
        width: 100%;
        font-family: "FuturaMedium";
        font-size: 1.285rem;
        color: $white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($white, 0.15);
        padding: 0.642rem 0;
        transition: background-color 0.3s;
        &::placeholder {
            color: $white;
        }
        &:focus {
            background-color: rgba($white, 0.1);
        }
    }
}
.checkbox-group {
    &__input {
        position: absolute;
        left: -9999px;
        &:checked + label::before {
            content: url("../img/checkbox.svg");
            background-color: $primary;
            border: 1px solid $primary;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__label {
        font-family: 'FuturaBook';
        font-size: 1.142rem;
        color: $white;
        position: relative;
        display: inline-block;
        padding-left: 24px;
        vertical-align: middle;
        &::before {
            content: "";
            width: 1.142rem;
            height: 1.142rem;
            border-radius: 1px;
            border: 1px solid $white;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color 0.3s;
        }
    }
}
@media screen and (max-width: 1200px) {
    .nav {
        &__link {
            margin-right: 1rem;
        }
    }
    .contacts {
        &__button {
            display: none;
        }
        &__phone {
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 992px) {
    .nav {
        display: none;
    }
    .phone {
        color: $white;
        &::after {
            display: none;
        }
    }
}
@media screen and (max-width: 570px) {
    .button {
        width: 100%;
    }
}