*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: "FuturaBook", sans-serif;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
sup {
    vertical-align: super;
}
.scroll-hide {
    overflow: hidden;
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}