.control {
    position: relative;
    padding-bottom: 4.4rem;
    margin-top: -23.142rem;
    &__section-title {
        margin-bottom: 2.214rem;
    }
    &__video {
        margin: 0 auto 4.464rem;
    }
    &__text {
        max-width: 40.7rem;
        text-align: center;
        font-size: 1.428rem;
        line-height: 1.698;
        margin: 0 auto 4.285rem;
        &::before {
            content: "";
            width: 55px;
            height: 2px;
            background-color: $primary;
            border-radius: 30px;
            display: block;
            margin: 0 auto 2rem;
        }
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        max-width: 55rem;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__input-group {
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 16.5rem;
        max-width: 100%;
        padding: 0.1rem 0 0.5rem;
    }
    &__button {
        font-size: 1.071rem;
        vertical-align: bottom;
        padding: 1.12rem 4.2rem;
    }
    &__policy {
        flex-basis: 100%;
        margin-top: 2.5rem;
    }
}
.video {
    width: 58.357rem;
    max-width: 100%;
    min-height: 31rem;
    background: $dark url("../../img/control.webp") no-repeat center/cover;
    box-shadow: (0px 20px 50px rgba($black, 0.15));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 0.8);
        position: absolute;
        left: 0;
        top: 0;
    }
    &__player {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__play {
        width: 6.071rem;
        height: 6.071rem;
        border-radius: 50%;
        background-color: $primary;
        border: none;
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            border: 0.9rem solid transparent;
            border-right: none;
            border-left: 1.5rem solid $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
@media screen and (max-width: 760px) {
    .control {
        background-color: $light-black;
        padding-bottom: 0;
        margin-top: 0;
        &__video {
            min-height: 17.25rem;
            margin-bottom: 2.333rem;
        }
        &__text {
            font-size: 1.166rem;
            color: $white;
            margin-bottom: 2.166rem;
            &::before {
                margin-bottom: 1.75rem;
            }
        }
        &__form {
            flex-direction: column;
        }
        &__label {
            color: rgba($white, 0.5);
        }
        &__input-group {
            margin-bottom: 5.25rem;
        }
        &__input {
            width: 100%;
            border-bottom: 1px solid rgba($gray, 0.3);
            background-color: transparent;
            color: $white;
            &::placeholder {
                color: $white;
            }
        }
        &__button {
            order: 1;
            transform: translateY(50%);
        }
        &__policy {
            color: $white;
            font-size: 1.333rem;
            margin-top: -3.083rem;
            margin-bottom: 2.083rem;
        }
    }
    .video {
        box-shadow: none;
        &__play {
            width: 3.083rem;
            height: 3.083rem;
            &::before {
                border: 0.5rem solid rgba(0,0,0,0);
                border-right: none;
                border-left: 1rem solid #fff;
            }
        }
    }
}