.design-project {
    margin-bottom: -30rem;
    padding-top: 11rem;
    &__title {
        margin-bottom: 2.214rem;
    }
    &__description {
        max-width: 52.928rem;
        margin-bottom: 2.785rem;
    }
    &__image {
        position: relative;
        &::before {
            content: "";
            background-color: rgba($black, 0.3);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
@media screen and (max-width: 760px) {
    .design-project {
        background-color: $dark-gray;
        &__heading, &__description {
            color: $white;
        }
        &__card {
            margin-bottom: 5.714rem;
        }
        &__image {
            &::before {
                display: none;
            }
        }
    }
}