.footer {
    background: $dark url("../../img/footer-bg.webp") no-repeat center/cover;
    position: relative;
    padding-top: 1px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba($light-black, 0.9) 3.47%, rgba($light-black, 0.72) 100%);
    }
    &__content {
        position: relative;
    }
    &__form {
        max-width: 36.928rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &-wrap {
            max-width: 63.428rem;
            padding: 2.428rem 13rem;
            margin: -15rem auto 3.714rem;
        }
    }
    &__title {
        font-family: "YesevaOne";
        color: $white;
        font-size: 1.428rem;
        text-align: center;
        margin-bottom: 3.285rem;
    }
    &__input-group {
        width: 16.5rem;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5rem;
        &_full {
            width: 100%;
        }
    }
    &__policy {
        width: 100%;
        text-align: center;
        margin: -3px 0 3.571rem;
    }
    &__button {
        font-size: 1.071rem;
        padding: 1.428rem 3.857rem;
        margin: 0 auto;
    }
    &__text {
        max-width: 42rem;
        color: $primary;
        font-family: "YesevaOne";
        font-size: 1.428rem;
        line-height: 1.386;
        text-align: center;
        margin: 0 auto 1.857rem;
    }
    &__link {
        width: 28px;
        height: 28px;
        text-decoration: none;
        display: inline-block;
        border-radius: 50%;
        &s {
            text-align: center;
            margin-bottom: 3.092rem;
        }
        &_mail {
            background: $primary url("../../img/email.svg") no-repeat center;
        }
        &_instagram {
            background: $primary url("../../img/instagram.svg") no-repeat center;
        }
        &:first-child {
            margin-right: 1.071rem;
        }
    }
    &__map {
        margin: 0 auto 4.709rem;
    }
    &__menu {
        background-color: $dark;
        padding: 3.428rem 0;
    }
}
.form-wrap {
    background: url("../../img/bg-lines-footer.svg") $light-black no-repeat center;
}
.map {
    width: 66.071rem;
    max-width: 100%;
    height: 33.214rem;
    background: url("../../img/map.webp") no-repeat center/cover;
}
@media screen and (max-width: 992px) {
    .footer {
        padding: 0;
        &__form {
            flex-direction: column;
            max-width: 100%;
        }
        &__input-group {
            width: 100%;
        }
    }
    .form-wrap {
        max-width: none;
        width: 100%;
        padding: 2.428rem 2rem;
    }
}
@media screen and (max-width: 760px) {
    .footer {
        background: $light-black;
        &__form-wrap {
            margin: 0 auto 3.833rem;
        }
        &__title {
            font-size: 1.666rem;
            margin-bottom: 4.333rem;
        }
        &__label {
            font-size: 1.25rem;
        }
        &__input-group {
            margin-bottom: 5.25rem;
        }
        &__policy {
            margin-top: -0.467rem;
            text-align: left;
        }
        &__button {
            font-size: 1.25rem;
            padding: 1.583rem 0;
            width: 100%;
        }
        &__text {
            order: 1;
        }
        &__links {
            order: 2;
            margin-bottom: 3.166rem;
        }
        &__map {
            margin: 0 auto 3.482rem;
        }
    }
    .form-wrap {
        padding: 0;
        background: none;
    }
    .map {
        width: 100%;
        height: 21.25rem;
    }
}
@media screen and (max-width: 570px) {
    .footer__menu {
        display: none;
    }
}