.header {
    background-color: $dark;
    padding: 1.714rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
@media screen and (max-width: 570px) {
    .header {
        padding: 1.642rem 0;
    }
}