.hero {
    background: $dark url(../../img/hero.jpg) no-repeat center/cover;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 70%);
        position: absolute;
        left: 0;
        top: 0;
    }
    &__content {
        max-width: 35.714rem;
        position: relative;
        margin-left: 3.928rem;
    }
    &__title {
        margin-bottom: 1.357rem;
    }
    &__text {
        font-family: "FuturaBook";
        font-size: 1.571rem;
        color: $white;
        margin-bottom: 2.928rem;
    }
    &__button {
        padding: 1.143rem 1.714rem;
        &:first-child {
            margin-right: 1.428rem;
        }
    }
    &__instagram {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__scroll-down {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
    }
}
.instagram {
    max-width: 80px;
    height: 100%;
    background-color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
        display: flex;
        align-items: center;
        line-height: 0.8;
        font-size: 1rem;
        font-family: "FuturaDemi";
        text-decoration: none;
        color: $primary;
        transform: rotate(90deg);
        &::after{
            content: "";
            width: 50px;
            height: 1px;
            background-color: $primary;
            margin-left: 8px;
        }
    }
}
.title {
    font-family: "YesevaOne", serif;
    font-size: 2.857rem;
    text-transform: uppercase;
    color: $white;
    &__text_primary {
        color: $primary;
    }
}
.scroll-down {
    font-size: 0.857rem;
    color: $white;
    font-family: "YesevaOne", serif;
    text-transform: uppercase;
    background-color: $dark;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    padding: 2.428rem 6.428rem 2.428rem 3.428rem;
    z-index: 1;
    &::after {
        content: url(../../img/button-down.svg);
        margin-left: 0.857rem;
    }
    &:hover {
        color: $primary;
    }
}
@media screen and (max-width: 992px) {
    .hero {
        &__instagram {
            display: none;
        }
        &__scroll-down {
            display: none;
        }
        &__content {
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 570px) {
    .hero {
        &__title {
            margin-bottom: 1.142rem;
        }
        &__text {
            font-size: 1.285rem;
            margin-bottom: 2.285rem;
        }
        &__button {
            &:first-child {
                margin-right: 0;
                margin-bottom: 1.857rem;
            }
        }
    }
    .title {
        font-size: 1.642rem;
    }
}