.leave-contact {
    background: url("../img/bg-line-white.svg") no-repeat center/cover, url("../../img/house.svg") no-repeat -3% -43%;
    padding-bottom: 9.285rem;
    &__form-wrap {
        width: 36.15rem;
        max-width: 100%;
        padding: 1.8rem 3.5rem 1.928rem;
    }
    &__title {
        font-family: "FuturaDemi";
        font-size: 1.428rem;
        line-height: 1.25;
        text-align: center;
        color: $white;
        margin-bottom: 2.785rem;
    }
    &__input {
        padding: 0.4rem 0;
        &-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 3.56rem;
        }
    }
    &__policy {
        color: $white;
        margin: -2.1rem 0 2.785rem;
    }
    &__button {
        display: block;
        margin: 0 0 0 auto;
        padding: 1.22rem 2.6rem;
    }
    &__saving {
        display: flex;
        justify-content: flex-end;
        margin-top: -2.714rem;
        margin-right: 4rem;
    }
}
.information {
    background: url("../../img/circle.svg") no-repeat;
    height: 45.571rem;
    width: 45.571rem;
    flex-grow: 1;
    position: relative;
    margin-left: -10.7%;
    margin-top: 16px;
    &__list {
        counter-reset: counterList;
    }
    &__item {
        font-family: "FuturaMedium";
        font-size: 1.285rem;
        font-weight: 500;
        line-height: 1.166;
        display: flex;
        align-items: center;
        position: absolute;
        &:first-child {
            left: 357px;
            top: 63px;
        }
        &:nth-child(2) {
            left: 431px;
            top: 174px;
        }
        &:nth-child(3) {
            left: 454px;
            top: 339px;
        }
        &:nth-child(4) {
            left: 389px;
            top: 497px;
        }
        &::before {
            counter-increment: counterList;
            content: "0" counter(counterList);
            font-family: "YesevaOne";
            font-size: 1.285rem;
            color: $white;
            background-color: $primary;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-right: 1.217rem;
        }
    }
    &__text {
        max-width: 25rem;
    }
}
.saving {
    display: flex;
    align-items: center;
    &__icon {
        width: 72px;
        height: 72px;
        background-color: $primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.785rem;
    }
    &__text {
        font-family: "FuturaDemi";
        font-size: 1.428rem;
        line-height: 1.25;
        color: $primary;
        max-width: 22.714rem;
    }
}
@media screen and (max-width: 1400px) {
    .leave-contact {
        display: none;
    }
}