.repair-styles {
  background: $dark url("../../img/repair-styles-bg.webp") no-repeat center/cover;
  padding: 9.785rem 0 6.071rem;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__text {
    max-width: 29.357rem;
  }
  &__heading {
    font-family: "YesevaOne";
    font-size: 1.928rem;
    text-transform: uppercase;
    line-height: 1.37;
    color: $primary;
    margin-bottom: 2.7rem;
  }
  &__tab {
    width: fit-content;
    font-family: "FuturaMedium";
    color: $white;
    font-size: 1.66rem;
    line-height: 2.1;
    cursor: pointer;
    transition: color 0.3s;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: $primary;
      transition: width 0.3s;
    }
    &:hover {
      color: $primary;
      &::after {
        width: 100%;
      }
    }
    &_active {
      color: $primary;
    }
  }
  &__images {
    flex-grow: 1;
    max-width: 53.642rem;
    position: relative;
  }
  &__slide {
    display: none;
    &_active {
      display: block;
    }
  }
  &__image-wrapper {
    width: 100%;
    overflow: hidden;
    &:first-child {
      margin-bottom: 2.642rem;
    }
    img {
      max-width: none;
      height: 100%;
    }
  }
  &__swiper {
    display: none;
    width: 100%;
    height: 242px;
    position: relative;
    img {
      width: 100%;
      min-height: 100%;
    }
    &-button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      &_prev {
        left: 1.166rem;
        background: $primary url('../../img/left.svg') no-repeat center;
        &::after {
          display: none;
        }
      }
      &_next {
        right: 1.166rem;
        background: $primary url('../../img/right.svg') no-repeat center;
        &::after {
          display: none;
        }
      }
    }
  }
}
.slide-wrapper {
  width: 47.4%;
  &_left, &_right {
    position: absolute;
  }
  &_left {
    top: -12.68rem;
    left: 0;
    .repair-styles__image-wrapper:first-child {
      height: 39.775rem;
    }
    .repair-styles__image-wrapper:last-child {
      height: 24.928rem;
    }
  }
  &_right {
    top: -17.822rem;
    right: 0;
    .repair-styles__image-wrapper:first-child {
      height: 19.642rem;
    }
    .repair-styles__image-wrapper:last-child {
      height: 44.659rem;
    }
  }
}
@media screen and (max-width: 1400px) {
  .repair-styles {
    &__images {
      max-width: 45rem;
    }
  }
}
@media screen and (max-width: 760px) {
  .repair-styles {
    background: $white;
    padding: 0;
    margin-bottom: -10.083rem;
    &__wrapper {
      display: block;
    }
    &__text {
      max-width: none;
    }
    &__heading {
      font-size: 1.833rem;
      line-height: 1.385;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__navigation {
      display: none;
    }
    &__images {
      display: none;
    }
    &__swiper {
      display: block;
    }
  }
}
