.swiper {
    & .swiper-pagination {
        &-bullets {
            width: auto;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        margin-top: 5.785rem;
    }
    &-slide {
        &-row {
            display: flex;
            flex-wrap: wrap;
        }
        &__text {
            flex-basis: 50%;
            margin-bottom: 2.833rem;
        }
        &__progress-number {
            color: $white;
            font-size: 1.285rem;
            margin-bottom: 1.571rem;
        }
        &__heading {
            font-family: 'YesevaOne';
            font-size: 1.285rem;
            line-height: 1.388;
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 0.642rem;
            &_sm {
                font-size: 1.071rem;
                max-width: 18.714rem;
            }
        }
        &__description {
            color: $white;
            font-size: 1.071rem;
            line-height: 1.698;
        }
        &__value {
            color: $white;
            font-family: 'FuturaBookC';
            font-size: 1.071rem;
            line-height: 1.333;
        }
    }
    &-button {
        &-prev, &-next {
            width: 41px;
            height: 13px;
            position: static;
        }
        &-prev {
            margin-right: 30px;
            &::after {
                content: url("../../img/arrow-left.svg");
            }
        }
        &-next {
            margin-left: 30px;
            &::after {
                content: url("../../img/arrow-right.svg");
            }
        }
    }
    &-pagination {
        position: static;
        &-bullet {
            --swiper-pagination-bullet-width: 10px;
            --swiper-pagination-bullet-height: 10px;
            --swiper-pagination-bullet-inactive-color: #fff;
            --swiper-pagination-bullet-inactive-opacity: 0.3;
            --swiper-pagination-bullet-horizontal-gap: 9px;
            &-active {
                --swiper-pagination-color: #fff;
            }
        }
    }
    &-navigation {
        &__card {
            font-size: 1.071rem;
            color: rgba($white, 0.3);
            cursor: pointer;
            &_active {
                color: $white;
                &::after {
                    display: none;
                }
                & .swiper-navigation__number {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
        &__number {
            width: fit-content;
            margin-bottom: 1.214rem;
            font-family: "YesevaOne";
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $primary;
                opacity: 0.3;
                display: block;
            }
        }
        &__text {
            max-width: 9.4rem;
            font-size: 1.071rem;
            margin-bottom: 2.571rem;
        }
    }
}
@media screen and (max-width: 760px) {
    .swiper {
        &-slide {
            &__heading {
                font-size: 1.166rem;
            }
            &__value {
                font-size: 1.166rem;
            }
        }
        &__buttons {
            margin: 0.285rem 0 2.428rem;
        }
    }
}