.working-methods {
    padding: 30.571rem 0 35.785rem;
    &__heading {
        font-size: 1.92rem;
        line-height: 1.4;
    }
    &__subtitle {
        margin-bottom: 1.1rem;
    }
    &__text {
        max-width: 24.071rem;
    }
    &__image {
        max-width: 57.5rem;
        margin-top: 6.214rem;
    }
}
@media screen and (max-width: 1360px) {
    .working-methods {
        &__text {
            max-width: 26.071rem;
        }
        &__image {
            max-width: 47rem;
        }
    }
}
@media screen and (max-width: 1200px) {
    .working-methods {
        &__image {
            max-width: 44rem;
        }
    }
}
@media screen and (max-width: 992px) {
    .working-methods {
        display: none;
    }
}